In [1]:
%cd ..

/home/feodor/Jupyter/depth-poset

/home/feodor/Jupyter/jupyter-env/lib/python3.12/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import os

import numpy as np
import pandas as pd
import pickle as pkl

from tqdm.notebook import tqdm

# Load and Format the Data

In [3]:
# define file paths
directory = "results/scores-on-random-alpha-complexes"
paths = np.sort([f'{directory}/{f}' for f in os.listdir(directory)])

# load them
ls = []
for path in tqdm(paths, total=len(paths)):
    with open(path, 'rb') as file:
        ls.append(pkl.load(file))

  0%|          | 0/11 [00:00<?, ?it/s]

In [4]:
df_poset_scores = [pd.DataFrame(i['poset scores']) for i in ls]
for i in range(len(df_poset_scores)):
    df_poset_scores[i].insert(0, 'index', value=i)
df_poset_scores = pd.concat(df_poset_scores)

print(f'df_poset_scores.shape = {df_poset_scores.shape}')
df_poset_scores.head()

df_poset_scores.shape = (42, 9)

,index,object,number_of_nodes,number_of_minimal_nodes,number_of_maximal_nodes,height,width,minimum_maximal_chain,avarage_maximal_chain
0,0,full,84,62,47,4,62,1,1.820896
1,0,subposet dim=0,31,16,6,4,16,1,3.047619
2,0,subposet dim=1,53,46,41,1,46,1,1.260870
0,1,full,108,98,94,4,98,1,1.202020
1,1,subposet dim=0,15,8,4,4,8,1,2.888889

In [5]:
df_node_scores = [pd.DataFrame(i['node scores']) for i in ls]
for i in range(len(df_node_scores)):
    df_node_scores[i].insert(0, 'index', value=i)
df_node_scores = pd.concat(df_node_scores)

print(f'df_node_scores.shape = {df_node_scores.shape}')
df_node_scores.head()

df_node_scores.shape = (334, 10)

,index,object,node,incomparable_number,incestors_number,incestors_height,incestors_width,successors_number,successors_height,successors_width
0,0,full,"ShallowPair([0.0000, 0.0015], dim=0)",81,2,1,1,0,0,0
1,0,subposet dim=0,"ShallowPair([0.0000, 0.0015], dim=0)",28,2,1,1,0,0,0
2,0,full,"ShallowPair([0.0000, 0.0006], dim=0)",82,1,0,1,0,0,0
3,0,subposet dim=0,"ShallowPair([0.0000, 0.0006], dim=0)",29,1,0,1,0,0,0
4,0,full,"ShallowPair([0.0000, 0.0157], dim=0)",77,0,0,0,6,1,4